<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>簡單實作 EJS</title>
    </head>
    <body>
        <form method="get" action="/process">
           <input id="upload" type="file" onchange="readURL(this);"  class="form-control border-0" name="file">
            <button type="submit">Submit</button>
        </form>

    </body>
</html>
